- import xitrum.comet.CometController

h1 Comet chat

#chatOutput

form(data-postback="submit" action={CometController.publish.url("topic" -> "chat")} data-after="$('#chatInput').val('')")
  input(type="text" id="chatInput" name="chatInput" class="required")

-
  jsCometGet("chat", """
    function(topic, timestamp, body) {
      var text = '- ' + xitrum.escapeHtml(body.chatInput[0]) + '<br />';
      xitrum.appendAndScroll('#chatOutput', text);
    }
  """)
