- import quickstart.controller._

!!! 5
html
  head
    = antiCSRFMeta
    = xitrumCSS

    meta(content="text/html; charset=utf-8" http-equiv="content-type")
    title Welcome to Xitrum

    link(type="image/vnd.microsoft.icon" rel="shortcut icon" href={urlForPublic("favicon.ico")})

    link(type="text/css" rel="stylesheet" media="all" href={urlForPublic("css/960/reset.css")})
    link(type="text/css" rel="stylesheet" media="all" href={urlForPublic("css/960/text.css")})
    link(type="text/css" rel="stylesheet" media="all" href={urlForPublic("css/960/960.css")})
    link(type="text/css" rel="stylesheet" media="all" href={urlForPublic("css/app.css")})

  body
    .container_12
      h1
        a(href={Site.index.url}) Welcome to Xitrum

      .grid_8
        p
          != helper.asInstanceOf[AppController].sourceCodeLink
        #flash
          !~ jsRenderFlash()
        != renderedView

      .grid_4
        h3 Samples

        ul
          li
            a(href={Articles.index.url}) REST
          li
            a(href={CometChat.index.url}) Comet chat
          li
            a(href={Todos.index.url}) Todo list

        p Filters
        ul
          li
            a(href={BeforeFilter.index.url}) Before filter
          li
            a(href={AfterFilter.index.url}) After filter
          li
            a(href={AroundFilter.index.url}) Around filter

    = jsAtBottom
