- import demos.action._
- val article = at("article").asInstanceOf[Article]

label Title:
br
input(type="text" name="title" value={article.title})
br

label Content:
br
textarea(name="content" rows=20 cols=60)= article.content
br

p
  input(type="submit" value="Save")
