- import demos.action._

!!! 5
html
  head
    != antiCsrfMeta
    != xitrumCSS

    meta(content="text/html; charset=utf-8" http-equiv="content-type")
    title Welcome to Xitrum

    link(type="image/vnd.microsoft.icon" rel="shortcut icon" href={publicUrl("favicon.ico")})

    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/960/reset.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/960/text.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/960/960.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/app.css")})

  body
    .container_12
      h1
        a(href={url[SiteIndex]}) Xitrum Demos

      .grid_8
        #flash
          !~ jsRenderFlash()
        != renderedView

      .grid_4
        h3 Demos

        p
          a(href="https://github.com/ngocdaothanh/xitrum-demos/tree/master/src/main") Source code

        p Various demos
        ul
          li
            a(href={url[ArticlesIndex]}) REST
          li
            a(href={url[xitrum.routing.SwaggerIndexAction]}) Swagger Doc (api_key = 123)
          li
            a(href={url[ForwardDemo]}) forwardTo
          li
            a(href={url[TodosIndex]}) Knockout.js

        p Scalate
        ul
          li
            a(href={url[ScalateJadeString]}) Template from string
          li
            a(href={url[ScalateMustache]}) Mustache template

        p Async
        ul
          li
            a(href={url[ActionActorDemo]}) ActionActor (delayed 3s)
          li
            a(href={url[WebSocketChat]}) WebSocket chat
          li
            a(href={url[SockJsChat]}) SockJS chat

        p Filters
        ul
          li
            a(href={url[BeforeFilter]}) Before filter
          li
            a(href={url[AfterFilter]}) After filter
          li
            a(href={url[AroundFilter]}) Around filter

        p Cache
        ul
          li
            a(href={url[ActionCacheDemo]}) Action cache
          li
            a(href={url[PageCacheDemo]}) Page cache

        p Imperatively
        ul
          li
            a(href={url[GreeterBoring]}) Boring greeter
          li
            a(href={url[GreeterLessBoring]}) Less boring greeter

    != jsDefaults
    != jsForView
