- import demos.action._

h1 FileMonitor demo

p In this demo:

ol
  li A file will be created
  li Then edited
  li Then deleted

#chatOutput

-
  jsAddToView(
    "var url = '" + sockJsUrl[FileMonitorSocket] + "';" +
    """
    var socket;


    var initSocket = function() {
      socket = new SockJS(url);

      socket.onopen = function(event) {
      };

      socket.onclose = function(event) {
        // Reconnect
        setTimeout(initSocket, 1000);
      };

      socket.onmessage = function(event) {
        var text = event.data + '<br />';
        xitrum.appendAndScroll('#chatOutput', text);
      };
    };
    initSocket();
    """
  )
