p See:

ul
  li
    span Xitrum:
    a(href="https://github.com/xitrum-framework/xitrum") https://github.com/xitrum-framework/xitrum
  li
    span This demos project:
    a(href="https://github.com/xitrum-framework/xitrum-demos") https://github.com/xitrum-framework/xitrum-demos
