p See:

ul
  li
    span Xitrum:
    a(href="https://github.com/ngocdaothanh/xitrum") https://github.com/ngocdaothanh/xitrum
  li
    span This demos project:
    a(href="https://github.com/ngocdaothanh/xitrum-demos") https://github.com/ngocdaothanh/xitrum-demos
