h1 Swagger demo

p
  | Add Swagger doc to your APIs like the source code below.

p
  | Then you can test the APIs with the
  a(href={url[xitrum.routing.SwaggerUi]}) Swagger UI
  | (use "123" for api_key).

p
  | You can use
  a(href="https://github.com/wordnik/swagger-codegen") Swagger Codegen
  | to automatically generate client side source code for Java (for use in Android apps),
  | Objective-C (for use in iOS apps) etc.
