- import demos.controller.{Articles, RVArticle}
- val article = RVArticle.get

h1 Create new article

form(action={Articles.create.url} method="post")
  != antiCSRFInput

  label Title:
  br
  input(type="text" name="title" value={article.title})
  br

  label Body:
  br
  textarea(name="body" rows=20 cols=60)= article.body
  br

  p
    input(type="submit" value="Save")

p
  a(href={Articles.index.url}) List of articles
