- import demos.controller.WebSocketChat

h1 WebSocket chat

#chatOutput
input(type="text" id="chatInput" name="chatInput" class="required" disabled="disabled")

script
  = "var url = '" + WebSocketChat.webSocketEntry.webSocketAbsoluteUrl + "';"

:javascript
  var socket;

  // Do not put in initSocket so that this event handler is registered only once
  $('#chatInput').keypress(function(event) {
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if (keycode == '13') {
      socket.send($('#chatInput').val());
      $('#chatInput').val('');
    }
  });

  var initSocket = function() {
    if (!window.WebSocket) window.WebSocket = window.MozWebSocket;
    if (!window.WebSocket) {
      alert("Your browser does not support WebSocket.");
    } else {
      socket = new WebSocket(url);

      socket.onopen = function(event) {
        var text = '<b>[Connected]</b><br />';
        xitrum.appendAndScroll('#chatOutput', text);
        $('#chatInput').removeAttr('disabled');
      };

      socket.onclose = function(event) {
        var text = '<b>[Disconnected]</b><br />';
        xitrum.appendAndScroll('#chatOutput', text);
        $('#chatInput').attr('disabled', 'disabled');

        // Reconnect
        setTimeout(initSocket, 1000);
      };

      socket.onmessage = function(event) {
        var text = '- ' + xitrum.escapeHtml(event.data) + '<br />';
        xitrum.appendAndScroll('#chatOutput', text);
      };
    }
  };
  initSocket();
