- import demos.controller._

!!! 5
html
  head
    != antiCSRFMeta
    != xitrumCSS

    meta(content="text/html; charset=utf-8" http-equiv="content-type")
    title Welcome to Xitrum

    link(type="image/vnd.microsoft.icon" rel="shortcut icon" href={urlForPublic("favicon.ico")})

    link(type="text/css" rel="stylesheet" media="all" href={urlForPublic("css/960/reset.css")})
    link(type="text/css" rel="stylesheet" media="all" href={urlForPublic("css/960/text.css")})
    link(type="text/css" rel="stylesheet" media="all" href={urlForPublic("css/960/960.css")})
    link(type="text/css" rel="stylesheet" media="all" href={urlForPublic("css/app.css")})

    != jsDefaults

  body
    .container_12
      h1
        a(href={Site.index.url}) Welcome to Xitrum

      .grid_8
        p
          != currentController.asInstanceOf[AppController].sourceCodeLink
        #flash
          !~ jsRenderFlash()
        != renderedView

      .grid_4
        h3 Samples

        ul
          li
            a(href={Articles.index.url}) REST
          li
            a(href={Todos.index.url}) Knockout.js

        p Scalate
        ul
          li
            a(href={ScalateController.fromDB.url}) Template from DB
          li
            a(href={ScalateController.mustache.url}) Mustache template

        p Async
        ul
          li
            a(href={WebSocketChat.index.url}) WebSocket chat
          li
            a(href={SockJsChat.index.url}) SockJS chat

        p Filters
        ul
          li
            a(href={BeforeFilter.index.url}) Before filter
          li
            a(href={AfterFilterController.index.url}) After filter
          li
            a(href={AroundFilter.index.url}) Around filter

        p Imperatively
        ul
          li
            a(href={BoringGreeter.boring.url}) Boring
          li
            a(href={BoringGreeter.greeter.url}) Greeter

    != jsForView
