- import quickstart.controller.{Articles, RVArticle}
- val article = RVArticle.get

h1= article.title

p= article.body

p
  a(href={Articles.edit.url("id" -> article.id)}) Edit |
  a(href={Articles.index.url}) List of articles
