-
  import xitrum.comet.CometPublishAction
  import xitrum.validation.{Required, Validated}

h1 Comet chat

#chatOutput

form(data-postback="submit" action={urlForPostback[CometPublishAction]} data-after="$('#chatInput').val('')")
  != {<input type="hidden" name="channel" value="chat" /> :: Validated}
  != {<input type="text" id="chatInput" name="chatInput" /> :: Required}

-
  jsCometGet("chat", """
    function(channel, timestamp, body) {
      var wasScrollAtBottom = xitrum.isScrollAtBottom('#chatOutput');
      $('#chatOutput').append('- ' + xitrum.escapeHtml(body.chatInput[0]) + '<br />');
      if (wasScrollAtBottom) xitrum.scrollToBottom('#chatOutput');
    }
  """)
