p See:

ul
  li
    span Xitrum:
    a(href="https://github.com/ngocdaothanh/xitrum") https://github.com/ngocdaothanh/xitrum
  li
    span This quickstart:
    a(href="https://github.com/ngocdaothanh/xitrum-quickstart") https://github.com/ngocdaothanh/xitrum-quickstart
